<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício 02</title>
</head>
<body>

    <!-- <button id="Botao">
        Botão
    </button> -->

    <!-- <input type="text" value="" id="base" placeholder="Base">
    <input type="text" value="" id="altura" placeholder="Altura">
    <button id="calcular">
        Calcular Área
    </button>
    <p id="resultado">resultado do calculo</p> -->

    <!-- <input type="text" name="number" id="numb" placeholder="Digite um número">
    <button id="verificar">buscar</button>
    <p id="resposta">Resposta da busca</p> -->

    <!-- <input type="text" name="number1" id="numb1" placeholder="Digite um número">
    <input type="text" name="number2" id="numb2" placeholder="Digite outro número">
    <input type="text" name="number3" id="numb3" placeholder="Digite mais um número"> -->
    <!-- <button id="verificar">Verificar</button>
    <p id="resposta">O valor maior é: </p> -->

    <!-- <input type="text" name="Celsius" id="c" placeholder="Digite uma temperatura em graus Celsius">
    <button id="converter">Converter</button>
    <p id="resposta">A temperatura atual é: </p> -->

    <!-- <input type="text" name="CapitalInicial" id="capitalInicial" placeholder="Digite o capital inicial">
    <input type="text" name="TaxaJuros" id="taxaJuros" placeholder="Digite a taxa de juros">
    <input type="text" name="TempoInvestimento" id="tempoInvestimento" placeholder="Digite o tempo de investimento">
    <button id="calcular">Calcular Montante</button>
    <p id="resposta">O montante final é: </p> -->

    <!-- <input type="text" name="numero" id="numb" placeholder="Digite um número">
    <button id="verificar">Verificar</button>
    <p id="resposta">O número é divisivel por 3?: </p> -->

    <!-- <input type="text" name="numero" id="numb" placeholder="Digite um número 1 a 12">
    <button id="verificar">Verificar</button>
    <p id="resposta">O mês é: </p> -->

    <!-- <input type="text" name="dinheiro" id="capital" placeholder="Digite seu capital">
    <button id="verificar">Verificar</button>
    <p id="litrosCombustivel">A quantidade de combustivel que você pode comprar é: </p>
    <p id="quilometros">Seu carro poderá andar: </p> -->
    
    <!-- <input type="text" name="minutos" id="minutos" placeholder="Digite a quantidade de minutos">
    <button id="converter">Converter</button>
    <p id="convHoras">A quantidade de minutos convertidos em horas é: </p>
    <p id="convDias">A quantidade de minutos convertidos em dias é: </p> -->

    <!-- <input type="text" name="refeicao" id="refeicao" placeholder="Digite a quantidade gasta na refeição">
    <button id="calcular">Calcular</button>
    <p id="valorGorjeta">A gorjeta direcionada ao garçom é: </p>
    <p id="valorTotal">O valor total da refeição com a gorjeta é: </p> -->

    <!-- <input type="text" name="salario" id="salario" placeholder="Digite o seu salario">
    <input type="text" name="valorPrestacao" id="valorPrestacao" placeholder="Digite o valor da prestação">

    <button id="verificar">Verificar</button>
    <p id="imprestimo">Seu emprestimo: </p> -->

    <!-- <input type="text" name="salario" id="salario" placeholder="Digite o seu salario"> 
    <button id="verificar">Verificar</button>
    <p id="descontoProporcional">O desconto proporcional ao seu salário é: </p> -->

    <input type="text" name="valorDepositado" id="valorDepositado" placeholder="Digite o valor a ser depositado">
    <button id="calcular">Calcular</button>
    <p id="valorFinal">O valor final com rendimento após um mês é: </p>


    <script src="../assets/script.js"></script>
</body>
</html>